html {
    font-size: 70.5%;
}

.FORGET_PASSWORD_DIV {
    background-image: url('/imagepath/volcano-1905556_1920.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 98vw;
    height: 98vh;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 6px #825f5f;
}

.FORGET_PASSWORD_DIV .CENTER_DIV {
    width: 38vw;
    height: 58vh;
    background-color: #283528;
    box-shadow: 0px 0px 8px 4px black;
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    margin: auto;
}

.FORGET_PASSWORD_DIV .CENTER_DIV h5 {
    font-size: 3rem;
    margin: auto;
    font-weight: bold;
    font-family: system-ui;
    color: white;
}

.FORGET_PASSWORD_DIV .CENTER_DIV .col-sm input {
    width: 30vw;
    height: 8vh;
    border-radius: 8px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
}

.FORGET_PASSWORD_DIV .CENTER_DIV .col-sm input:focus {
    border: 3px solid red;
}

.FORGET_PASSWORD_DIV .CENTER_DIV .col-sm button {
    width: 10vw;
    height: 8vh;
    font-size: 3rem;
    background-color: dimgrey;
    color: white;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}

.FORGET_PASSWORD_DIV .CENTER_DIV .col-sm button:hover {
    box-shadow: 0px 0px 5px 5px rgb(70, 164, 192);
}

@media only screen and (max-width:720px) {
    html {
        font-size: 40%;
    }
}

@media only screen and (max-width:961px) {
    html {
        font-size: 40%;
    }
}